In [3]:
data_dir = '/home/vinay/Downloads/niveshi/strategy_generation/data/'
import pandas as pd
df = pd.read_csv(data_dir+'bank_future_data.csv')

In [4]:
df.head(2)

              DateTime  BANKBARODA_0  ...  BANKNIFTY_3  BANKNIFTY_4
0  2010-12-20 09:16:00         888.0  ...      11339.8      10275.0
1  2010-12-20 09:17:00         890.0  ...      11326.0      15450.0

[2 rows x 71 columns]

In [5]:
from ta import sma_indicator

In [8]:
sma_indicator(df['BANKBARODA_0'],10)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
4994    858.860
4995    858.730
4996    858.430
4997    858.095
4998    857.725
Name: sma_10, Length: 4999, dtype: float64